//-внутренний слайдер
mixin slider--offers_item(slider_name, img_width, items)
	div.offers-item-slider(class='offers-item-slider--' + slider_name)
		div.offers-item__box.viewport(class='offers-' + slider_name + '__box')
			div.offers-item__inner.clearfix.overview(class='offers-' + slider_name + '__inner')
				each item in items
					div.offers-item__item(class='offers-' + slider_name + '__item' + ' ' + 'offers-' + slider_name + '__' + item.id)
						div.offers-item__img(class='offers-' + slider_name + '__img'): img(src='../images/offers/' + slider_name + '/offers-' + slider_name + '@' + img_width + '.png', alt=item.id)
						h3.offers-item__title=item.title
						if item.text
							p.offers-item__text=item.text
			.offers-item__inner.offers-item__inner--pops.clearfix(class='offers-' + slider_name + '__inner' + ' ' + 'offers-' + slider_name + '__inner--pops')
				-each item in items
					if item.hover
						+slider--offers_item--pops(slider_name, item.id, item.title, item.hover)
						
		div.offers-item__scroll.scrollbar(class='offers-' + slider_name + '__scroll')
			div.offers-item__scroll_bar.track(class='offers-' + slider_name + '__scroll_bar')
				div.offers-item__scroll_control.thumb(class='offers-' + slider_name + '__scroll_control')

//-всплывающее описание
mixin slider--offers_item--pops(slider_name, id, title, items)
	.offers-item__item.offers-item__item--pops(class='offers-' + slider_name + '__item' + ' ' + 'offers-' + slider_name + '__' + id + ' ' + 'offers-' + slider_name + '__item--pops' + ' ' + 'offers-' + slider_name + '__' + id + '--pops')
		div.offers-item__item--pops_wrapper(class='offers-' + slider_name + '__item--pops_wrapper' + ' ' + 'offers-' + slider_name + '__' + id + '--pops_wrapper')
			p.offers-item__title.offers-item__title--pops=title
			each item in items
				p.offers-item__text.offers-item__text--pops=item


mixin products
	+slider--offers_item('products' , '3200', [{
		id: 'booklet',
		title: 'Буклеты'
	}, {
		id: 'notepad',
		title: 'Блокноты'
	}, {
		id: 'report',
		title: 'Отчеты'
	}, {
		id: 'album',
		title: 'Альбомы'
	}, {
		id: 'magazine',
		title: 'Журналы'
	}, {
		id: 'encyclopedia',
		title: 'Энциклопедии'
	}, {
		id: 'catalog',
		title: 'Каталоги'
	}, {
		id: 'instruction',
		title: 'Инструкции'
	}])
	
	.offers-products__info
		h4.offers-products__info-title Печать по требованию
		p.offers-products__info-text.
			Применяется для «быстрых» тиражей, под оперативные задачи Вашего бизнеса. Скоростное выполнение возможно с использованием цифрового оборудования премиум-класса. Если Вам нужно отличное...
		a.offers-products__info-more(href='/') Узнать больше

mixin skreplenie
	+slider--offers_item('skreplenie' , '2432', [{
		id: 'spiral',
		title: 'Spiral'
	}, {
		id: 'twin_loop',
		title: 'Twin Loop Wire'
	}, {
		id: 'comb',
		title: 'Comb'
	}, {
		id: 'ring',
		title: 'Ring'
	}, {
		id: 'tape',
		title: 'Tape'
	}, {
		id: 'velo',
		title: 'Velo'
	}, {
		id: 'saddle',
		title: 'Saddle Stitch'
	}, {
		id: 'perfect',
		title: 'Perfect'
	}, {
		id: 'stapled',
		title: 'Stapled'
	}])

mixin services
	+slider--offers_item('services', '2400', [{
		id: 'value',
		href: '/',
		title: 'Калькулятор стоимости',
		text: 'Рассчитайте стоимость печати',
		hover: ['Мы не требуем обязательной верстки альбомов в нашей программе. Если Вам привычней и удобней пользоваться другими программами (в данном случае Photoshop), то продолжайте им пользоваться и создавать альбомы так, как Вы привыкли.', 'Однако Вам следует учитывать, что полученные от Вас файлы (в формате JPG) будут собираться нашими сотрудниками с использованием нашей программы. Соответственно данный раздел предназначен для того, что бы и Вам и нам было удобней работать и при этом мы смогли бы']
	}, {
		id: 'cover',
		href: '/',
		title: 'Раскладка обложки',
		text: 'Скачать технические шаблоны обложки',
		hover: ['Мы не требуем обязательной верстки альбомов в нашей программе. Если Вам привычней и удобней пользоваться другими программами (в данном случае Photoshop), то продолжайте им пользоваться и создавать альбомы так, как Вы привыкли.', 'Однако Вам следует учитывать, что полученные от Вас файлы (в формате JPG) будут собираться нашими сотрудниками с использованием нашей программы. Соответственно данный раздел предназначен для того, что бы и Вам и нам было удобней работать и при этом мы смогли бы']
	}, {
		id: 'width',
		href: '/',
		title: 'Калькулятор толщины',
		text: 'Толщина корешка при количестве полос',
		hover: ['Мы не требуем обязательной верстки альбомов в нашей программе. Если Вам привычней и удобней пользоваться другими программами (в данном случае Photoshop), то продолжайте им пользоваться и создавать альбомы так, как Вы привыкли.', 'Однако Вам следует учитывать, что полученные от Вас файлы (в формате JPG) будут собираться нашими сотрудниками с использованием нашей программы. Соответственно данный раздел предназначен для того, что бы и Вам и нам было удобней работать и при этом мы смогли бы']
	}, {
		id: 'profile',
		href: '/',
		title: 'Личный кабинет',
		text: 'Работа с файлами и проектами',
		hover: ['Мы не требуем обязательной верстки альбомов в нашей программе. Если Вам привычней и удобней пользоваться другими программами (в данном случае Photoshop), то продолжайте им пользоваться и создавать альбомы так, как Вы привыкли.', 'Однако Вам следует учитывать, что полученные от Вас файлы (в формате JPG) будут собираться нашими сотрудниками с использованием нашей программы. Соответственно данный раздел предназначен для того, что бы и Вам и нам было удобней работать и при этом мы смогли бы']
	}, {
		id: 'lib',
		href: '/',
		title: 'Онлайн библиотека',
		text: 'Публикуйте свои книги и получайте с них прибыль',
		hover: ['Мы не требуем обязательной верстки альбомов в нашей программе. Если Вам привычней и удобней пользоваться другими программами (в данном случае Photoshop), то продолжайте им пользоваться и создавать альбомы так, как Вы привыкли.', 'Однако Вам следует учитывать, что полученные от Вас файлы (в формате JPG) будут собираться нашими сотрудниками с использованием нашей программы. Соответственно данный раздел предназначен для того, что бы и Вам и нам было удобней работать и при этом мы смогли бы']
	}])