-var pageName = pageClass + '-archive'

mixin pageMenu(name, items)
	each item, i in items
		if i === 1
			input(class=name + '__inputs' type='radio' name=name id=name + '--' + item.id checked)
		else
			input(class=name + '__inputs' type='radio' name=name id=name + '--' + item.id)
	
	div(class=name)
		ul.clearfix(class=name + '__items')
			each item in items
				li(class=name + '__item')
					label.my_files__btn--gray(class=name + '__name' + ' ' + name + '__name--' + item.id + ' ' + 'sprite_icon-archive_' + item.id for=name + '--' + item.id)

mixin archive_icons(name, items)
	ul.clearfix(class=name + '__items')
		each item in items
			li(class = name + '__item' + ' ' + name + '__item--' + item.id)
				input(type='checkbox' id=item.id class = pageName + '__checkbox-input' name=pageName + '__item')
				label.my_files__check(class = pageName + '__checkbox' for = item.id)
				div(class = name + '__box')
					div(class = name + '__img')
						+picture({
							name: item.id,
							adress: '../images/private_room/archive/' + item.id + '/' + item.id + '@',
							ext: 'jpg'
						}, {
							main: {
								width: 156
							}
						})
					p(class = name + '__title')
						span(class = name + '__title-author')=item.title.author
						span(class = name + '__title-name')=item.title.name
					ul(class = name + '__actions')
						+archive_icons_actions(name, [{
							id: 'google_disk',
							href: '#'
						}, {
							id: 'drop_box',
							href: '#'
						}, {
							id: 'share',
							href: '#'
						}, {
							id: 'archive',
							href: '#'
						}])

mixin archive_icons_actions(name, actions)
	each action in actions
		li(class = name + '__action')
			a(class = name + '__act' + ' ' + name + '__act--' + action.id + ' ' + 'sprite_private_room' + ' ' + 'sprite_icon-' + action.id href=action.href)

mixin archive_list(name, items)
	div.my_files-table(class = name + '__table')
		.my_files-table__header.clearfix
			p.my_files-table__header-item(class = name + '__title' + ' ' + name + '__title--table') Название проекта
		div(class = pageClass + '__slider' + ' ' + name + '__slider')
			.viewport(class = pageClass + '__slider-viewport')
				ul.my_files-table__body.overview.clearfix(class = name + '__items')
					each item, i in items
						-var color = 'color1'
						if i%2 !== 0
							-color = 'color2'
						li.my_files-table__items.clearfix(class = name + '__item' + ' ' + 'my_files-table__items--' + color)
							a.my_files-table__item(class = name + '__name' + ' ' + name + '__name--' + item.id href = '#')=item.name
			.scrollbar(class = pageClass + '__slider-scrollbar')
				.track(class = pageClass + '__slider-track')
					.thumb(class = pageClass + '__slider-thumb')

	div(class = name + '__info')
		.my_files-table__header.clearfix
			p.my_files-table__header-item(class = name + '__title' + ' ' + name + '__title--info') Информация
		ul.clearfix(class = name + '__actions')
			li(class = name + '__action')
				a.sprite_private_room.sprite_icon-to_archive(class = name + '__act' + ' ' + name + '__act--to_archive' href = '#')
			li(class = name + '__action')
				a.sprite_private_room.sprite_icon-from_archive(class = name + '__act' + ' ' + name + '__act--from_archive' href = '#')
		div(class = name + '__info__block')
			+archive_list_item(name + '__info', {
				id: 'devero',
				info: [{
					id: 'name',
					name: 'Название',
					val: [
						'Джуд Деверо',
						'Принцесса и золушка'
					]
				}, {
					id: 'size',
					name: 'Размер',
					val: '26 MB'
				}, {
					id: 'archive',
					name: 'Дата архивирования',
					val: '14.11.2012'
				}, {
					id: 'approve',
					name: 'Дата утверждения',
					val: '26.07.2012'
				}]
			})

mixin archive_icons_nav(name)
	nav(class = name)
		ul.clearfix(class = name + '__items')
			li(class = name + '__item' + ' ' + name + '__item--first')
				a(class = name + '__name' href = '#') 1
			li(class = name + '__item' + ' ' + name + '__item--prev')
				a(class = name + '__name' href = '#') 11—20
			-var num = 21
			while num < 31
				-var active_class = ''
				if num === 23
					-active_class = ' ' + name + '__item--active'
				li(class = name + '__item' + ' ' + name + '__item--stek' + active_class)
					a(class = name + '__name' href = '#')= num++
			li(class = name + '__item' + ' ' + name + '__item--next')
				a(class = name + '__name' href = '#') 31—40
			span из
			li(class = name + '__item' + ' ' + name + '__item--last')
				a(class = name + '__name' href = '#') 176

mixin archive_list_item(name, elem)
	div(class = name + '__img')
		+picture({
			name: elem.id,
			adress: '../images/private_room/archive/' + elem.id + '/' + elem.id + '@',
			ext: 'jpg'
		}, {
			main: {
				width: 156
			}
		})
	ul(class = name + '__items')
		each el in elem.info
			li.clearfix(class = name + '__item')
				span(class = name + '__name')=el.name
				if el.id === 'name'
					div(class = name + '__val')
						each e in el.val
							span=e
				else
					span(class = name + '__val')=el.val

div(class=pageName)
	p(class=pageName + '__title') Архив проектов
	a.sprite_icon-close--white(class=pageName + '__close' href='#')
	+pageMenu(pageName + '-nav', [{
		id: 'icons'
	}, {
		id: 'list'
	}])
	div(class=pageName + '__block' + ' ' + pageName + '_icons')
		+archive_icons(pageName + '_icons', [{
			id: 'devero',
			title: {
				author: 'Джуд Деверо',
				name: 'Принцесса и Золушка'
			}
		}, {
			id: 'zankovsky',
			title: {
				author: 'А. Н. Занковский',
				name: 'Организационная психология'
			}
		}, {
			id: 'dontsova',
			title: {
				author: 'Дарья Донцова',
				name: 'Яблоко Монте - Кристо'
			}
		}, {
			id: 'ledbiter',
			title: {
				author: 'Чарльз Ледбитер',
				name: 'Жизнь до и после'
			}
		}, {
			id: 'devero',
			title: {
				author: 'Джуд Деверо',
				name: 'Принцесса и Золушка'
			}
		}, {
			id: 'zankovsky',
			title: {
				author: 'А. Н. Занковский',
				name: 'Организационная психология'
			}
		}, {
			id: 'dontsova',
			title: {
				author: 'Дарья Донцова',
				name: 'Яблоко Монте - Кристо'
			}
		}, {
			id: 'ledbiter',
			title: {
				author: 'Чарльз Ледбитер',
				name: 'Жизнь до и после'
			}
		}, {
			id: 'devero',
			title: {
				author: 'Джуд Деверо',
				name: 'Принцесса и Золушка'
			}
		}, {
			id: 'zankovsky',
			title: {
				author: 'А. Н. Занковский',
				name: 'Организационная психология'
			}
		}, {
			id: 'dontsova',
			title: {
				author: 'Дарья Донцова',
				name: 'Яблоко Монте - Кристо'
			}
		}, {
			id: 'ledbiter',
			title: {
				author: 'Чарльз Ледбитер',
				name: 'Жизнь до и после'
			}
		}])
		+archive_icons_nav(pageName + '_icons__nav')
			
		
	div(class=pageName + '__block' + ' ' + pageName + '_list')
		+archive_list(pageName + '_list', [{
			id: 'a31-a100',
			name: 'А31—А100'
		}, {
			id: 'wtf',
			name: 'WTF'
		}, {
			id: 'the_roof_is_on_fire_you_fat_beaches',
			name: 'The_roof_is_on_fire_you_fat_beaches'
		}, {
			id: 'the_roof_is_on_fire_you_fat_beaches_1',
			name: 'The_roof_is_on_fire_you_fat_beaches_1'
		}, {
			id: 'the_roof_is_on_fire_you_fat_beaches_last',
			name: 'The_roof_is_on_fire_you_fat_beaches_last'
		}, {
			id: '12_obezyan',
			name: '12_obezyan'
		}, {
			id: 'petrovich',
			name: 'Petrovich'
		}, {
			id: 'r2-d2',
			name: 'r2-d2'
		}, {
			id: 'r2-d2_1',
			name: 'r2-d2'
		}, {
			id: 'kniga_12.33',
			name: 'Kniga_12.33'
		}, {
			id: 'pitomnik',
			name: 'Pitomnik'
		}, {
			id: 'zuzu_1294',
			name: 'Zuzu_1294'
		}, {
			id: 'provaid_igrus',
			name: 'Provaid Igrus'
		}, {
			id: 'ochumet',
			name: 'Ochumet'
		}])
