mixin personal_data(name, items)
	each item in items
		-var type = 'text'
		if item.type
			-type=item.type
		
		.form__field.clearfix(class=name + '__field' + ' ' + name + '__field--' + item.id)
			label.form__label(class=name + '__label' + ' ' + name + '__label--' + item.id for=name + '_' + item.id)=item.name + ':'
				
			case item.id
				when 'tel'
					div.form__inputs.form__inputs--tel(class=name + '__inputs' + ' ' + name + '__inputs--' + item.id)
						input(type='hidden' id=name + '_' + item.id name=name + '_' + item.id)
						span +7 (
						each elem, i in item.data
							input(type=type id=name + '_' + elem.id placeholder=elem.text pattern=elem.pattern)
							if (i == 0)
								span )

				default
					div.form__inputs(class=name + '__inputs' + ' ' + name + '__inputs--' + item.id)
						if item.required
							input(type=type id=name + '_' + item.id name=name + '_' + item.id placeholder=item.text required)
						else
							input(type=type id=name + '_' + item.id name=name + '_' + item.id placeholder=item.text)

div(class=pageClass + '-profile' + ' ' +pageClass + '-profile--details')
	form(class=pageClass + '-profile__form' + ' ' + pageClass + '-profile__form--details' action='#' method='post' name='details')
		fieldset(class=pageClass + '-profile__form-part' + ' ' + pageClass + '-profile__form-part--details')
			p.title--h3(class=pageClass + '-profile__title' + ' ' + pageClass + '-profile__title--details') Общие данные контрагента
			+personal_data(pageClass + '-profile', [{
								id: 'name_full',
								name: 'Полное наименование',
								text: 'IWCcompany'
							}, {
								id: 'name',
								name: 'Краткое наименование',
								text: 'IWC'
							}, {
								id: 'inn',
								name: 'ИНН',
								type: 'text',
								pattern: '[0-9]{6} [0-9]{6} [0-9]{3}',
								text: '456988 863232 944'
							}, {
								id: 'kpp',
								name: 'КПП',
								text: '6513218421'
							}, {
								id: 'okpo',
								name: 'Код по ОКПО',
								text: '564653266846'
							}, {
								id: 'adress_reg',
								name: 'Юридический адрес',
								text: 'г. Москва, 2-й Котляковcкий и тд и тп'
							}, {
								id: 'adress_fact',
								name: 'Фактический адрес',
								text: 'г.Москва ул. Котляковская ул. Котляковская ул. Котляковская ул. Котляковская'
							}, {
								name: 'Телефон',
								id: 'tel',
								data: [{
									id: 'tel_1',
									pattern: '[0-9]{3}',
									text: 495
								}, {
									id: 'tel_2',
									pattern: '[0-9]{3}-[0-9]{2}-[0-9]{2}',
									text: '276-45-98'
								}]
							}])
							
		fieldset(class=pageClass + '-profile__form-part' + ' ' + pageClass + '-profile__form-part--details')
			p(class=pageClass + '-profile__point' + ' ' + pageClass + '-profile__point--details') Основной банковский счет
			+personal_data(pageClass + '-profile', [{
								id: 'account',
								name: 'Номер счета',
								text: '74513389554225'
							}, {
								id: 'bank_name',
								name: 'Наименование банка',
								text: 'Сбербанк'
							}, {
								id: 'bank_bik',
								name: 'БИК банка',
								text: '42238733613331313'
							}, {
								id: 'account_corr',
								name: 'Корю счет банка',
								text: '3213589832615'
							}])
		button.form__btn(class=pageClass + '-profile__btn' type='submit') Сохранить изменения
	
	.private_room-page_controls.clearfix
		a.private_room-page__btn.private_room-page__btn--prev.sprite_form.sprite_icon-private_room_arrow--prev(href='#') Назад


