mixin private_room_tarif(item)
	-var itemName = pageClass + '__switcher'
	.private_room-tarif.form__switcher(class=itemName)
		+form_switcher(itemName, [{
			id: item.id,
			obj: item
		}])
		span(class=itemName + '__' + item.id + ' ' + itemName + '__' + item.id + '--off')=item.off.name
		span(class=itemName + '__' + item.id + ' ' + itemName + '__' + item.id + '--on')=item.on.name
		
		a.private_room-tarif__info(href='#') ?
			span.private_room-tarif__info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa doloremque nostrum, dicta provident dolores explicabo velit iste adipisci, voluptatum a laborum expedita, nisi suscipit est quaerat veniam ex ipsam atque.

+private_room_tarif({
	id: 'tarif',
	off: {
		val: 'standart',
		name: 'Стандарт',
		src: ''
	},
	on: {
		val: 'expert',
		name: 'Эксперт',
		src: ''
	}
})

mixin private_room_memory(name, item)
	div.clearfix(class=name + '__top')
		div(class=name + '__granted')
			span(class=name + '__name') Предоставленно
			p(class=name + '__volume' + ' ' + name + '__volume--granted')
				span(class=name + '__volume--num')=item.granted.num + ' '
				span(class=name + '__volume--unit')=item.granted.unit
		p(class=name + '__info')='Вам предоставлен объем ' + item.granted.num + ' Gb. Для увеличения пространства, необходимо оформить заказ'
	div.clearfix(class=name + '__bottom')
		div(class=name + '__free')
			p(class=name + '__volume' + ' ' + name + '__volume--free')
				span(class=name + '__volume--num')=item.granted.num + ' '
				span(class=name + '__volume--unit')=item.granted.unit
			span(class=name + '__name') Свободно
		a.form__btn(class=name + '__btn' href='#')=item.btn

.private_room-mems.clearfix
	a.private_room-message(href='#')
		span 3
	.private_room-memory
		p.private_room-memory__title Общий рабочий объем
		+private_room_memory('private_room-memory', {
			granted: {
				num: 2,
				unit: 'GB'
			},
			free: {
				num: 765,
				unit: 'MB'
			},
			btn: 'Заказать'
		})
		
	.private_room-memory
		p.private_room-memory__title Объем архива
		+private_room_memory('private_room-memory', {
			granted: {
				num: 20,
				unit: 'GB'
			},
			free: {
				num: 765,
				unit: 'MB'
			},
			btn: 'В архив'
		})