mixin private_room_menu(name)
	-var tree = private_room_tree[0]
	-var top = pageID[1] - 1
	-var active
	ul.clearfix(class = name + '-part' + ' ' + name + '--top')
		each item, i in tree.next
			if i === top
				-active = ' ' + name + '-item--top--active'
			else
				-active = ''
			li(class = name + '-item' + ' ' + name + '-item--top' + active)
				a(class = name + '-item_name' + ' ' + name + '-item_name--top' href='#')=item.name
	
	each item, i in tree.next
		if i === top && item.next
			ul.clearfix(class = name + '-part' + ' ' + name + '--bottom')
				if item.id === 'project'
					+project_dealing()
				each elem, j in item.next
					if j === pageID[2] - 1
						-active = ' ' + name + '-item--bottom--active'
					else
						-active = ''
					li(class = name + '-item' + ' ' + name + '-item--bottom' + active)
						a(class = name + '-item_name' + ' ' + name + '-item_name--bottom' href='#')=elem.name

mixin project_dealing()
	.clearfix(class=pageClass + '-header__project')
		.clearfix(class=pageClass + '-header__project-name')
			input(type='text' value='Новый проект' name='project_name' disabled)
			button.sprite_icon-rename_small Переименовать
		.clearfix(class=pageClass + '-header__project-dealing')
			button.form__btn(class=pageClass + '-header__project-dealing_btn' + ' ' + pageClass + '-header__project-dealing_btn--save') Сохранить проект
			button.form__btn(class=pageClass + '-header__project-dealing_btn' + ' ' + pageClass + '-header__project-dealing_btn--new') Создать новый проект

header(class = pageClass + '-header')
	div.clearfix(class = pageClass + '-header-features')
		include header_features
	nav(class = pageClass + '-header__menu')
		+private_room_menu(pageClass + '-header__menu')