mixin alphabet(items)
	each item in items
		li(class=pageSubclass + '__menu-top_item')
			a(class=pageSubclass + '__menu-top_item--' + item.id href='#')=item.name

mixin sort_alphabet()
	+alphabet([{
		id: 'num',
		name: '0-9'
	}, {
		id: 'a',
		name: 'а'
	}, {
		id: 'b',
		name: 'б'
	}, {
		id: 'v',
		name: 'в'
	}, {
		id: 'g',
		name: 'г'
	}, {
		id: 'd',
		name: 'д'
	}, {
		id: 'e',
		name: 'е'
	}, {
		id: 'j',
		name: 'ж'
	}, {
		id: 'z',
		name: 'з'
	}, {
		id: 'i',
		name: 'и'
	}, {
		id: 'k',
		name: 'к'
	}, {
		id: 'l',
		name: 'л'
	}, {
		id: 'm',
		name: 'м'
	}, {
		id: 'n',
		name: 'н'
	}, {
		id: 'o',
		name: 'о'
	}, {
		id: 'p',
		name: 'п'
	}, {
		id: 'r',
		name: 'р'
	}, {
		id: 's',
		name: 'с'
	}, {
		id: 't',
		name: 'т'
	}, {
		id: 'u',
		name: 'у'
	}, {
		id: 'f',
		name: 'ф'
	}, {
		id: 'h',
		name: 'х'
	}, {
		id: 'c',
		name: 'ц'
	}, {
		id: 'ch',
		name: 'ч'
	}, {
		id: 'sh',
		name: 'ш'
	}, {
		id: 'shch',
		name: 'щ'
	}, {
		id: 'ee',
		name: 'э'
	}, {
		id: 'yu',
		name: 'ю'
	}, {
		id: 'ia',
		name: 'я'
	}])

div(class=pageSubclass)
	nav(class=pageSubclass + '__menu')
		.clearfix(class=pageSubclass + '__menu-top')
			ul.clearfix(class=pageSubclass + '__menu-top_items')
				each item in ['Все', 'Опубликованные', 'К печати', 'Сохраненные']
					li(class=pageSubclass + '__menu-top_item'): a(href='#')=item
			div(class=pageSubclass + '__menu-top_sort')
				input(type='radio' id=pageSubclass + '_sort-date' name=pageSubclass + '_sort' checked)
				input(type='radio' id=pageSubclass + '_sort-alphabet' name=pageSubclass + '_sort')
				span Сортировать
				ul
					li: label(for=pageSubclass + '_sort-date') по дате
					li: label(for=pageSubclass + '_sort-alphabet') по алфавиту
			a.my_files__btn--gray(href='#' class=pageSubclass + '__create') Создать проект
		ul.clearfix(class=pageSubclass + '__menu-bottom')
			+sort_alphabet()
	div(class=pageSubclass + '__list')
		img(src='../../../../images/private_room/common/project_list.jpg', alt='')
div(class=pageSubclass + '__generate_qr-code')
	+picture({
		name: 'generate_qr-code',
		adress: '../images/private_room/qr-code/generate_qr@',
		ext: 'jpg'
	}, {
		main: {
			width: 114,
			img: 114
		}
	})
	span(class=pageSubclass + '__generate_qr-code__title') Генерировать QR-код

