mixin cover_cover_vals(name, items)
	-var itemName = pageClass + '__scroller'
	.calculator__item.form__scroller(class=itemName + ' ' + name + ' ' + name + '-vals')
		each item, i in items
			if i===0
				input.form__scroller-inputs(class=itemName + '-inputs' + ' ' + itemName + '-inputs--' + name type='radio' name=name + '-vals' id=name + '-' + item.id value=item.val checked)
			else
				input.form__scroller-inputs(class=itemName + '-inputs' + ' ' + itemName + '-inputs--' + name type='radio' name=name + '-vals' id=name + '-' + item.id value=item.val)

		ul.form__scroller-items.clearfix(class=itemName + '-items' + ' ' + name + '-items')
			each item in items
				li.form__scroller-item(class=itemName + '-item' + ' ' + name + '-item' + ' ' + name + '-item--' + item.id)
					.form__scroller-img(class=itemName + '-img' + ' ' + name + '-img' + ' ' + name + '-img--' + item.id)
							+picture({
								name: item.name,
								adress: '../images/calculator/' + name + '/vals/' + name + '-vals@',
								ext: 'png'
							}, {
								main: {
									width: 688
								}
							})
					.form__scroller-label-wrapper(class=itemName + '-label-wrapper' + ' ' + name + '-label-wrapper' + ' ' + name + '-label-wrapper--' + item.id)
						label.form__scroller-label(class=itemName + '-label' + ' ' + name + '-label' + ' ' + name + '-label--' + item.id for=name + '-' + item.id)
					span.form__scroller-name(class=itemName + '-name' + ' ' + name + '-name' + ' ' + name + '-name--' + item.id)=item.name


mixin cover_vals(name)
	+cover_cover_vals(name, [{
		id: '4p',
		val: 4,
		name: '4 страницы'
	}, {
		id: '6p',
		val: 6,
		name: '6 страниц'
	}])