mixin cover_cover_vals(name, items)
	.calculator__item.calculator__scroller(class='calculator__scroller--' + name)
		each item, i in items
			if i===0
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val checked)
			else
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val)

		ul.calculator__scroller-items(class=name + '-items')
			each item in items
				li.calculator__scroller-item(class=name + '-item')
					img.calculator__scroller-img(class=name + '-img' src='' alt=item.name)
					label.calculator__scroller-label(class=name + '-label' for=name + '-' + item.id)=item.name


mixin cover_vals(name)
	+cover_cover_vals(name, [{
		id: '4p',
		val: 4,
		name: '4 страницы'
	}, {
		id: '6p',
		val: 6,
		name: '6 страниц'
	}])