mixin cover_decoration(name, items)
	-var itemName = pageClass + '__scroller'
	.calculator__item.form__scroller(class=itemName + ' ' + name)
		each item, i in items
			if i===0
				input.form__scroller-inputs(class=itemName + '-inputs' + ' ' + itemName + '-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val checked)
			else
				input.form__scroller-inputs(class=itemName + '-inputs' + ' ' + itemName + '-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val)

		ul.form__scroller-items.clearfix(class=itemName + '-items' + ' ' + name + '-items')
			each item in items
				li.form__scroller-item(class=itemName + '-item' + ' ' + name + '-item' + ' ' + name + '-item--' + item.id)
					.form__scroller-img(class=itemName + '-img' + ' ' + name + '-img' + ' ' + name + '-img--' + item.id)
						+picture({
							name: item.name,
							adress: '../images/calculator/' + name + '/' + name + '@',
							ext: 'png'
						}, {
							main: {
								width: 1312
							}
						})
					.form__scroller-label-wrapper(class=itemName + '-label-wrapper' + ' ' + name + '-label-wrapper')
						label.form__scroller-label(class=itemName + '-label' + ' ' + name + '-label' for=name + '-' + item.id)
					span.form__scroller-name(class=itemName + '-name' + ' ' + name + '-name')=item.name
					span.form__scroller-text(class=itemName + '-text' + ' ' + name + '-text')=item.desc


mixin decoration(name)
	+cover_decoration(name, [{
		id: 'glossy',
		name: 'Глянцевый ламинат',
		val: 'glossy',
		desc: 'Глянцевое ламинирование'
	}, {
		id: 'matte',
		name: 'Матовый ламинат',
		val: 'matte',
		desc: 'Матовое ламинирование'
	}, {
		id: 'uv',
		name: 'УФ лак',
		val: 'uv',
		desc: 'Ультрафиолетовое лакирование'
	}, {
		id: 'wd',
		name: 'ВД лак',
		val: 'wd',
		desc: 'Вододисперсионное лакирование'
	}])