-var actualClass = pageSubclass

mixin my_files_menu_inp(name, items)
	each item, i in items
		if i === 0
			input(class=name + '__inputs' id=actualClass + '-' + item.id type='radio' name=name + '__inputs' checked)
		else
			input(class=name + '__inputs' id=actualClass + '-' + item.id type='radio' name=name + '__inputs')

mixin my_files_menu(name, items)
	ul.clearfix(class=name)
		each item in items
			li(class=name + '__item' + ' ' + name + '__item--' + item.id)
				label(class=name + '__name' + ' ' + name + '__name--' + item.id for=actualClass + '-' + item.id)=item.name
					if item.new
						span(class=name + '__name-top' + ' ' + name + '__name-top--' + item.id)=item.new

mixin my_files_action_menu(name, items)
	each item in items
		li.clearfix(class=name + '-items' + ' ' + name + '-items--' + item.id)
			each elem in item.items
				a.sprite_private_room(class=name + '-item' + ' ' + name + '-item--' + elem.id + ' ' + 'sprite_icon-' + elem.id title=elem.hint)

mixin my_files_header(actualClass, items)
	+my_files_menu_inp(actualClass + '-menu', items)
	input(id=actualClass + '__check-all' type='checkbox')
	input(id=actualClass + '__expand--on' type='radio' name=actualClass + '__expand' checked)
	input(id=actualClass + '__expand--off' type='radio' name=actualClass + '__expand')

	header(class=actualClass + '-header')
		include download
		+my_files_menu(actualClass + '-menu', items)
		
		.clearfix(class=actualClass + '-refresh')
			p(class=actualClass + '-refresh__info')
				|При появлениий знака
				span.sprite_private_room.sprite_icon-to_workflow
				|, вы можете перейти по этому файлу к его рабочему разделу
			a.sprite_icon-files_refresh(class=actualClass + '-refresh__btn' + ' ' + actualClass + '__btn--gray') Обновить список
		
		.clearfix(class=actualClass + '-actions')
			.clearfix(class=actualClass + '-actions__checking')
				label(class=actualClass + '-actions__check-all' for=actualClass + '__check-all') Выделить все
				label.sprite_private_room.sprite_icon-expand_on(class=actualClass + '-actions__expand' + ' ' + actualClass + '-actions__expand--on' for=actualClass + '__expand--on')
				label.sprite_private_room.sprite_icon-expand_off(class=actualClass + '-actions__expand' + ' ' + actualClass + '-actions__expand--off' for=actualClass + '__expand--off')
			
			.clearfix(class=actualClass + '-actions__manage')
				ul.clearfix(class=actualClass + '-actions__menu')
					+my_files_action_menu(actualClass + '-actions__menu', [{
						id: 'archive',
						items: [{
							id: 'archive',
							hint: 'В архив'
						}]
					}, {
						id: 'cleaning',
						items: [{
							id: 'basket',
							hint: 'В корзину'
						}, {
							id: 'clean',
							hint: 'Очистить'
						}]
					}, {
						id: 'files',
						items: [{
							id: 'add',
							hint: 'Добавить'
						}, {
							id: 'remove',
							hint: 'Переместить'
						}, {
							id: 'rename',
							hint: 'Переименовать'
						}, {
							id: 'copy',
							hint: 'Копировать'
						}]
					}, {
						id: 'clipboard',
						items: [{
							id: 'clipboard',
							hint: 'Добавить в буфер обмена'
						}]
					}])
				div(class=actualClass + '-actions__search')
					div(class=actualClass + '-actions__search-input')
						input(placeholder='Поиск')
						button.sprite_icon-my_files_search(class=actualClass + '-actions__search-btn')