-var actualClass = pageSubclass

mixin my_files_menu_inp(name, items)
	each item, i in items
		if i === 0
			input(class=name + '__inputs' id=actualClass + '-' + item.id type='radio' name=name + '__inputs' checked)
		else
			input(class=name + '__inputs' id=actualClass + '-' + item.id type='radio' name=name + '__inputs')

mixin my_files_menu(name, items)
	ul.clearfix(class=name)
		each item in items
			li(class=name + '__item' + ' ' + name + '__item--' + item.id)
				label(class=name + '__name' + ' ' + name + '__name--' + item.id for=actualClass + '-' + item.id)=item.name
					if item.new
						span(class=name + '__name-top' + ' ' + name + '__name-top--' + item.id)=item.new

mixin my_files_header(actualClass, items)
	+my_files_menu_inp(actualClass + '-menu', items)

	header(class=actualClass + '-header')
		include download
		+my_files_menu(actualClass + '-menu', items)
		
		