include section_vars

mixin my_files_action_menu(name, items)
	each item in items
		li.clearfix(class=name + '-items' + ' ' + name + '-items--' + item.id)
			each elem in item.items
				-var sprite_name = elem.id
				if elem.id == 'clipboard'
					-sprite_name = elem.id + '--active'
				a.sprite_private_room(class=name + '-item' + ' ' + name + '-item--' + elem.id + ' ' + 'sprite_icon-' + sprite_name title=elem.hint)

mixin my_files_table(name_total, name, section, data)
	-var title_arr = []
	.clearfix(class=class_name([name_total, name], '__header'))
		div(class=class_name([name_total, name], '__header-item') + name + '__header-item-check')
		-title_arr.push('check')
		each item in data.header
			p(class=class_name([name_total, name], '__header-item') + name + '__header-item-' + item.id)=item.name
			-title_arr.push(item.id)
	div(class = pageClass + '__slider' + ' ' + name + '__slider')
		.viewport(class=name + '__body-wrap' + ' ' + pageClass + '__slider-viewport')
			-var color = 'color2'
			-var lvl = -1
			+my_files_table_inner(name_total, name, section, title_arr, color, lvl, data.items)
		.scrollbar(class = pageClass + '__slider-scrollbar' + ' ' + name + '__slider-scrollbar')
			.track(class = pageClass + '__slider-track')
				.thumb(class = pageClass + '__slider-thumb')

mixin my_files_table_inner(name_total, name, section, title_arr, color, lvl, items, b_type)
	if b_type != 'split'
		-lvl = lvl + 1
	-var body_type
	if b_type
		-body_type = name + '__body--' + b_type
	else
		-body_type = ''
	
	-var slider_class = ''
	if lvl === 0
		-slider_class = ' overview' + ' ' + name + '__slider-overview'
	
	ul(class=class_name([name_total, name], '__body') + body_type + slider_class)
		each item, i in items
			if color == 'color1'
				-color = 'color2'
			else
				-color = 'color1'
			+li_build(name_total, name, section, title_arr, color, lvl, b_type, item, i)
			if b_type == 'history'
				-lvl = lvl + 1

mixin li_build(name_total, name, section, title_arr, color, lvl, b_type, item, i)
	-var spec_class = ''
	if item.new
		-spec_class = ' ' + name + '__items--new'
	li(class=class_name([name_total, name], '__items') + name_total + '__items--' + color + ' ' + name + '__items--lvl' + lvl + spec_class)
	
		-var opener_name = 'folder'
		if item.history
			-opener_name = 'history'
		if item.split
			-opener_name = 'split'
		
		if item.folder || item.history || item.split
			input(class=name + '__' + opener_name + '_opener-input' type='checkbox' id=opener_name + '_opener--' + item.id + '_' + section)
		
		div.clearfix(class=class_name([name_total, name], '__item-wrap'))
			each title in title_arr
				-var item_class = ''
				if title == 'check'
					-item_class = ' my_files__checkbox'
				if title == 'name' && b_type == 'history'
					if section == 'working'
						-item_class = ' sprite_icon-arrow_history--gray'
					else
						-item_class = ' sprite_icon-arrow_history--white'
				div(class=class_name([name_total, name], '__item') + ' ' + name + '__item-' + title + item_class)
				
					case title
						when 'check'
							if item.status && section != 'approved'
								input(type='checkbox' name='files_check' id='files_check-' + item.id + '_' + section class='my_files__check_inputs' disabled)
							else
								input(type='checkbox' name='files_check' id='files_check-' + item.id + '_' + section class='my_files__check_inputs')
							label.my_files__check(for='files_check-' + item.id + '_' + section)

						when 'name'
							-var file_type = ' sprite_icon-type_file'
							if section != 'approved'
								if item.folder || item.history || item.split
									label(for=opener_name + '_opener--' + item.id + '_' + section class = name + '__expand')
							else if item.folder
								label(for=opener_name + '_opener--' + item.id + '_' + section class = name + '__expand')
							if item.folder
								-file_type = ' sprite_icon-type_folder'

							-var type = '.' + item.type
							if item.folder || item.split
								-type = ''
							span(class=file_type)=item.name + type

						when 'size'
							=item.size

						when 'manage'
							-var manage_name = section
							include manage
		
		-var next_stek
		if item.folder
			-next_stek = item.folder
			-b_type = 'sub'
		if item.history
			-next_stek = item.history
			-b_type = 'history'
		if item.split
			-next_stek = item.split
			-b_type = 'split'
		
		if item.folder || item.history || item.split
			+my_files_table_inner(name_total, name, section, title_arr, color, lvl, next_stek, b_type)





div(class=actualClass + '-table' + ' ' + actualClass + '-docs' + ' ' + actualClass + '-docs--' + name_section)
	input(id=actualClass + '__check-all_' + name_section type='checkbox' class=actualClass + '__check-all_inputs')
	input(id=actualClass + '__expand_' + name_section + '--on' type='radio' name=actualClass + '__expand_' + name_section class=actualClass + '__expand')
	input(id=actualClass + '__expand_' + name_section + '--off' type='radio' name=actualClass + '__expand_' + name_section class=actualClass + '__expand')
	.clearfix(class=actualClass + '-refresh')
		p(class=actualClass + '-refresh__info')
			|При появлениий знака
			span.sprite_private_room.sprite_icon-to_workflow
			|, вы можете перейти по этому файлу к его рабочему разделу
		a.sprite_icon-files_refresh(class=actualClass + '-refresh__btn' + ' ' + actualClass + '__btn--gray') Обновить список

	.clearfix(class=actualClass + '-actions')
		.clearfix(class=actualClass + '-actions__checking')
			label(class=actualClass + '-actions__check-all' + ' ' + actualClass + '__check' for=actualClass + '__check-all_' + name_section) Выделить все
			label.sprite_private_room.sprite_icon-expand_on(class=actualClass + '-actions__expand' + ' ' + actualClass + '-actions__expand--on' for=actualClass + '__expand_' + name_section + '--on')
			label.sprite_private_room.sprite_icon-expand_off(class=actualClass + '-actions__expand' + ' ' + actualClass + '-actions__expand--off' for=actualClass + '__expand_' + name_section + '--off')

		.clearfix(class=actualClass + '-actions__manage')
			ul.clearfix(class=actualClass + '-actions__menu')
				+my_files_action_menu(actualClass + '-actions__menu', [{
					id: 'archive',
					items: [{
						id: 'archive',
						hint: 'В архив'
					}]
				}, {
					id: 'cleaning',
					items: [{
						id: 'basket',
						hint: 'В корзину'
					}, {
						id: 'clean',
						hint: 'Очистить'
					}]
				}, {
					id: 'files',
					items: [{
						id: 'add',
						hint: 'Добавить'
					}, {
						id: 'remove',
						hint: 'Переместить'
					}, {
						id: 'rename',
						hint: 'Переименовать'
					}, {
						id: 'copy',
						hint: 'Копировать'
					}]
				}, {
					id: 'clipboard',
					items: [{
						id: 'clipboard',
						hint: 'Добавить в буфер обмена'
					}]
				}])
			div(class=actualClass + '-actions__search')
				div(class=actualClass + '-actions__search-input')
					input(placeholder='Поиск')
					button.sprite_icon-my_files_search(class=actualClass + '-actions__search-btn')
	
	
	-var vars = []
	case name_section
		when 'loaded'
			-vars = table_loaded
		when 'working'
			-vars = table_working
		when 'processing'
			-vars = table_processing
		when 'split'
			-vars = table_split
		when 'approved'
			-vars = table_approved
		default
			-vars = table_loaded1
			
	+my_files_table(
		actualClass + '-table',
		actualClass + '-docs',
		name_section, {
		header: [{
			id: 'name',
			name: 'Название'
		}, {
			id: 'size',
			name: 'Размер'
		}, {
			id: 'manage',
			name: 'Действия / Статусы'
		}],
		items: vars
		})