include ../helpers/variables
include ../helpers/mixins

-var filesPath = ''
+filesPath(pageID)

-var pageSub = ''
-var pageBtn_prev = ''
-var pageBtn_next = ''
if pageSubclass
	-pageSub = ' ' + pageClass + '--' + pageSubclass
	-pageBtn_prev = ' ' + pageClass + '-page__btn--prev-' + pageSubclass
	-pageBtn_next = ' ' + pageClass + '-page__btn--next-' + pageSubclass

doctype html
html.no-svg(lang="ru")
	head
		include ../blocks/head
		block scripts_upper

	body
		include ../helpers/svg
		.body-wrapper
			include ../blocks/header

			main(class=specClass)
				.container.container--main.container--private_room
					+breadcrumbs(private_room_tree)
					include ../blocks/private_room/header
					
					div.clearfix(class=pageClass + pageSub)
						block content
						.clearfix(class=pageClass + '-page_controls')
							a.sprite_form.sprite_icon-private_room_arrow--prev(class=pageClass + '-page__btn' + ' ' + pageClass + '-page__btn--prev' + pageBtn_prev href='#') Назад
							a.sprite_form.sprite_icon-private_room_arrow--next(class=pageClass + '-page__btn' + ' ' + pageClass + '-page__btn--next' + pageBtn_next href='#') Далее

			.footer-wrapper.sprite_icon-footer-clip--left.sprite_icon-footer-clip--right
				include ../blocks/footer
		
		a.scrollTop(href='#') Наверх

	include ../blocks/scripts
	block scripts