mixin print_pages(block_name, items)
	each item, i in items
		if(i === 0)
			input(type='radio' name=block_name id=block_name + '--' + item.id class=block_name value=item.val checked)
		else
			input(type='radio' name=block_name id=block_name + '--' + item.id class=block_name value=item.val)
			
	div.clearfix(class=block_name + '__selector' + ' ' + 'calculator__selector')
		each item in items
			label(for=block_name + '--' + item.id)
			
	div(class=block_name + '__box')
		each item in items
			div(class=block_name + '__item' + ' ' + block_name + '__item--' + item.id)
				img(class=block_name + '__item-img' src='', alt=item.name)


mixin pages
	input.pages-selector(type='checkbox' id='pages-selector')
	label(for='pages-selector') Выбор
	.print-pages__block-wrapper
		+print_pages('print-pages', [{
			id: '',
			val: '',
			name: ''
		}])