include formates/slider

mixin slider--formates(slider_name, items)
	each item, i in items
		if i===0
			input(class=slider_name + '__input' type='radio' name=slider_name id=slider_name + '--' + item.id checked)
		else
			input(class=slider_name + '__input' type='radio' name=slider_name id=slider_name + '--' + item.id)
	
	div.clearfix(class=slider_name + '__controls')
		each item, i in items
			label(for=slider_name +'--' + item.id)
				//img(src='../images/formates/formates-header@620.png', alt=item.id)
				+picture({
					name: item.id,
					adress: '../images/formates/formates-header/formates-header@',
					ext: 'png'
				}, {
					main: {
						width: 620,
						img: 620
					}
				})
				span=item.name
		.formates-slider__controls_scroll
			.formates-slider__controls_scroll-bar
				.formates-slider__controls_scroll-control.sprite.sprite_icon-formates-slider-control

	div(class=slider_name + '__box')
		div(class=slider_name + '__inner')
			each item in items
				div.clearfix(class=slider_name + '__item' + ' ' + 'formates-' + item.id)
					case item.id
						when 'formates'
							+formates
						when 'paper'
							+paper
						when 'templates'
							+templates

.formates
	+slider--formates('formates-slider', [{
		id: 'formates',
		name: 'Форматы'
	}, {
		id: 'paper',
		name: 'Бумага'
	}, {
		id: 'templates',
		name: 'Шаблоны'
	}])
	