mixin print_bond(name, items)
	-var itemName = pageClass + '__scroller'
	.calculator__item.form__scroller(class=itemName + ' ' + name)
		each item, i in items
			if i===0
				input.form__scroller-inputs(class=itemName + '-inputs' + ' ' + itemName + '-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val checked)
			else
				input.form__scroller-inputs(class=itemName + '-inputs' + ' ' + itemName + '-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val)
		
		ul.form__scroller-items.clearfix(class=itemName + '-items' + ' ' + name + '-items')
			each item in items
				li.form__scroller-item(class=itemName + '-item' + ' ' + name + '-item' + ' ' + name + '-item--' + item.id)
					span.form__scroller-text(class=itemName + '-text' + ' ' + name + '-text')=item.desc
					.form__scroller-img(class=itemName + '-img' + ' ' + name + '-img' + ' ' + name + '-img--' + item.id)
							+picture({
								name: item.name,
								adress: '../images/calculator/' + name + '/' + name + '@',
								ext: 'png'
							}, {
								main: {
									width: 608
								}
							})
					.form__scroller-label-wrapper(class=itemName + '-label-wrapper' + ' ' + name + '-label-wrapper')
						label.form__scroller-label(class=itemName + '-label' + ' ' + name + '-label' for=name + '-' + item.id)
					span.form__scroller-name(class=itemName + '-name' + ' ' + name + '-name')=item.name
						a(class=name + '_pops' + ' ' + name + '_pops--' + item.id href='#') ?
							span=item.pop



mixin bond(name)
	+print_bond(name, [{
		id: 'pur',
		val: 'pur',
		name: 'PUR',
		desc: 'max 180º',
		pop: 'PUR — полиуретановый клей. Обладает настолько высокой эластичностью, что позволяет раскрыть книгу на 180º без повреждения переплёта'
	}, {
		id: 'eva',
		val: 'eva',
		name: 'EVA',
		desc: 'max 120º',
		pop: ''
	}])