mixin print_bond(name, items)
	.calculator__item.calculator__scroller(class=name)
		each item, i in items
			if i===0
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val checked)
			else
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val)

		ul.calculator__scroller-items(class=name + '-items')
			each item in items
				li.calculator__scroller-item(class=name + '-item')
					span.calculator__scroller-text(class=name + '-text')=item.desc
					img.calculator__scroller-img(class=name + '-img' src='' alt=item.name)
					label.calculator__scroller-label(class=name + '-label' for=name + '-' + item.id)=item.name
						a(class=name + '_pops--' + item.id href='#') ?
							span=item.pop



mixin bond(name)
	+print_bond(name, [{
		id: 'pur',
		val: 'pur',
		name: 'PUR',
		desc: 'max 180º',
		pop: 'PUR — полиуретановый клей. Обладает настолько высокой эластичностью, что позволяет раскрыть книгу на 180º без повреждения переплёта'
	}, {
		id: 'eva',
		val: 'eva',
		name: 'EVA',
		desc: 'max 120º',
		pop: ''
	}])