mixin print_orient(name, items)
	.calculator__item.calculator__scroller(class=name)
		each item, i in items
			if i===0
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val checked)
			else
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val)

		ul.calculator__scroller-items.clearfix(class=name + '-items')
			each item in items
				li.calculator__scroller-item(class=name + '-item' + ' ' + name + '-item--' + item.id)
					.calculator__scroller-img(class=name + '-img' + ' ' + name + '-img--' + item.id)
							+picture({
								name: item.name,
								adress: '../images/calculator/' + name + '/' + name + '@',
								ext: 'png'
							}, {
								main: {
									width: 364,
									img: 364
								}
							})
					.calculator__scroller-label-wrapper(class=name + '-label-wrapper')
						label.calculator__scroller-label(class=name + '-label' for=name + '-' + item.id)
					span.calculator__scroller-name(class=name + '-name')=item.name





mixin orient(name)
	+print_orient(name, [{
		id: 'book',
		val: 'book',
		name: 'Книжная'
	}, {
		id: 'album',
		val: 'album',
		name: 'Альбомная'
	}])