mixin print_orient(name, items)
	.calculator__item.calculator__scroller(class=name)
		each item, i in items
			if i===0
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val checked)
			else
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val)

		ul.calculator__scroller-items(class=name + '-items')
			each item in items
				li.calculator__scroller-item(class=name + '-item')
					img.calculator__scroller-img(class=name + '-img' src='' alt=item.name)
					label.calculator__scroller-label(class=name + '-label' for=name + '-' + item.id)=item.name





mixin orient(name)
	+print_orient(name, [{
		id: 'book',
		val: 'book',
		name: 'Книжная'
	}, {
		id: 'album',
		val: 'album',
		name: 'Альбомная'
	}])