mixin print_size(name, items)
	.calculator__item.calculator__scroller(class=name)
		each item, i in items
			if i===0
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val checked)
			else
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val)

		ul.calculator__scroller-items.clearfix(class=name + '-items')
			each item in items
				li.calculator__scroller-item(class=name + '-item' + ' ' + name + '-item--' + item.id)
					.calculator__scroller-label-wrapper(class=name + '-label-wrapper')
						label.calculator__scroller-label(class=name + '-label' for=name + '-' + item.id)
					span.calculator__scroller-name(class=name + '-name')=item.name
					span.calculator__scroller-text(class=name + '-text')=item.desc
					
					if item.id != 'other'
						.calculator__scroller-img(class=name + '-img' + ' ' + name + '-img--' + item.id)
							+picture({
								name: item.name,
								adress: '../images/calculator/' + name + '/' + name + '@',
								ext: 'png'
							}, {
								main: {
									width: 852,
									img: 852
								}
							})
					else
						div(class=name + '--' + item.id)
							img(src='../images/calculator/print_size/print_size--other.png' alt=item.name)





mixin size(name)
	+print_size(name, [{
		id: 'a4',
		name: 'A4',
		val: '210х297',
		desc: '210х297 mm'
	}, {
		id: 'a5',
		name: 'A5',
		val: '205х148',
		desc: '205х148 mm'
	}, {
		id: 'a6',
		name: 'A6',
		val: '105х148',
		desc: '105х148 mm'
	}, {
		id: 'other',
		name: 'Другой',
		val: '210х297',
		desc: '210х297 mm'
	}])