mixin print_size(name, items)
	.calculator__item.calculator__scroller(class=name)
		each item, i in items
			if i===0
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.id checked)
			else
				input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.id)

		ul.calculator__scroller-items.clearfix(class=name + '-items')
			each item in items
				li.calculator__scroller-item(class=name + '-item' + ' ' + name + '-item--' + item.id)
					.calculator__scroller-label-wrapper(class=name + '-label-wrapper')
						label.calculator__scroller-label(class=name + '-label' for=name + '-' + item.id)
					span.calculator__scroller-name(class=name + '-name')=item.name
					if item.id != 'other'
						span.calculator__scroller-text(class=name + '-text')=item.desc
						
						.calculator__scroller-img(class=name + '-img' + ' ' + name + '-img--' + item.id)
							+picture({
								name: item.name,
								adress: '../images/calculator/' + name + '/' + name + '@',
								ext: 'png'
							}, {
								main: {
									width: 852,
									img: 852
								}
							})
					
					else
						+print_other(('print_' + item.id), ['width', 'height'])

mixin print_other(name, items)
	.calculator__scroller-text(class='print_size-text' + ' ' + name + '__inputs')
		each item, i in items
			-var value = 184.2
			-var span = 'x'
			if i == 1
				-value = 238.6
				-span = 'mm'
			input(class=name + '__input' + ' ' + name + '__input--' + item type='text' value=value id=name + '__' + item name=name + '-' + item)
			span=span
			div(class=name + '__input--allert') fhksjhfk

	div(class='print_size--other' + ' ' + name)
		div(class=name + '__page')
		each item in items
			div(class=name + '__scroller' + ' ' + name + '__scroller--' + item)
				div(class=name + '__scroller-line' + ' ' + name + '__scroller-line--' + item)
				div(class=name + '__scroller-thumb' + ' ' + name + '__scroller-thumb--' + item)


mixin size(name)
	+print_size(name, [{
		id: 'a4',
		name: 'A4',
		val: '210х297',
		desc: '210х297 mm'
	}, {
		id: 'a5',
		name: 'A5',
		val: '205х148',
		desc: '205х148 mm'
	}, {
		id: 'a6',
		name: 'A6',
		val: '105х148',
		desc: '105х148 mm'
	}, {
		id: 'other',
		name: 'Другой',
		val: '210х297',
		desc: '210х297 mm'
	}])