mixin print_size(name, items)
	-var itemName = pageClass + '__scroller'
	.calculator__item.form__scroller(class=itemName + ' ' + name)
		each item, i in items
			if i===0
				input.form__scroller-inputs(class=itemName + '-inputs' + ' ' + itemName + '-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val checked)
			else
				input.form__scroller-inputs(class=itemName + '-inputs' + ' ' + itemName + '-inputs--' + name type='radio' name=name id=name + '-' + item.id value=item.val)

		ul.form__scroller-items.clearfix(class=itemName + '-items' + ' ' + name + '-items')
			each item in items
				li.form__scroller-item(class=itemName + '-item' + ' ' + name + '-item' + ' ' + name + '-item--' + item.id)
					.form__scroller-label-wrapper(class=itemName + '-label-wrapper' + ' ' + name + '-label-wrapper')
						label.form__scroller-label(class=itemName + '-label' + ' ' + name + '-label' for=name + '-' + item.id)
					span.form__scroller-name(class=itemName + '-name' + ' ' + name + '-name')=item.name
					if item.id != 'other'
						span.form__scroller-text(class=itemName + '-text' + ' ' + name + '-text')=item.desc
						
						.form__scroller-img(class=itemName + '-img' + ' ' + name + '-img' + ' ' + name + '-img--' + item.id)
							+picture({
								name: item.name,
								adress: '../images/calculator/' + name + '/' + name + '@',
								ext: 'png'
							}, {
								main: {
									width: 852
								}
							})
					
					else
						+print_other(itemName, ('print_' + item.id), ['width', 'height'])

mixin print_other(pageName, name, items)
	.form__scroller-text(class=pageName + '-text' + ' ' + 'print_size-text' + ' ' + name + '__inputs')
		each item, i in items
			-var value = 184.2
			-var span = 'x'
			if i == 1
				-value = 238.6
				-span = 'mm'
			input(class=name + '__input' + ' ' + name + '__input--' + item type='text' value=value id=name + '__' + item name=name + '-' + item)
			span=span
			div(class=name + '__input--allert')

	div(class='print_size--other' + ' ' + name)
		div(class=name + '__page')
		each item in items
			div(class=name + '__scroller' + ' ' + name + '__scroller--' + item)
				div(class=name + '__scroller-line' + ' ' + name + '__scroller-line--' + item)
				div(class=name + '__scroller-thumb' + ' ' + name + '__scroller-thumb--' + item)


mixin size(name)
	+print_size(name, [{
		id: 'a4',
		name: 'A4',
		val: '210х297',
		desc: '210х297 mm'
	}, {
		id: 'a5',
		name: 'A5',
		val: '205х148',
		desc: '205х148 mm'
	}, {
		id: 'a6',
		name: 'A6',
		val: '105х148',
		desc: '105х148 mm'
	}, {
		id: 'other',
		name: 'Другой',
		val: '210х297',
		desc: '210х297 mm'
	}])