mixin slider--offers(slider_name, items)
	each item, i in items
		if i===0
			input(class=slider_name + '__input' type='radio' name=slider_name id=slider_name + '--' + item.id checked)
		else
			input(class=slider_name + '__input' type='radio' name=slider_name id=slider_name + '--' + item.id)
	
	.offers-title.clearfix
		p.offers-title__text Мы предлагаем:
		div(class=slider_name + '__controls')
			each item, i in items
				label(for=slider_name +'--' + item.id)=item.name

	div(class=slider_name + '__box')
		div(class=slider_name + '__inner')
			each item in items
				div(class=slider_name + '__item' + ' ' + slider_name + '__' + item.id)
					img(src='../images/offers/offers-' + item.id + '_comm.png', alt=item.id)
	

		
		

.offers
	+slider--offers('offers-slider', [{
												id: 'services',
												name: 'Наши услуги'
												}, {
												id: 'products',
												name: 'Наша продукция'
												}, {
												id: 'skreplenie',
												name: 'Типы скрепелния'
												}])