mixin slider--offers(slider_name, items)
	each item, i in items
		if i===0
			input(type='radio' name=slider_name id=slider_name + '--slide' + (i + 1) checked)
		else
			input(type='radio' name=slider_name id=slider_name + '--slide' + (i + 1))
	
	div(class=slider_name + '__box')
		div(class=slider_name + '__inner')
			each item in items
				div(class=slider_name + '__item' + ' ' + slider_name + '__' + item)
					img(src='../images/header/header_slide.png', alt='slide1')
	
	div(class=slider_name + '__controls')
		div(class=slider_name + '__controls--arrows')
			a(class=slider_name + '__controls--left' href='/')
			a(class=slider_name + '__controls--right' href='/')
		
		div(class=slider_name + '__controls--buttons')
			each item, i in items
				label(for=slider_name + '--slide' + (i + 1))

.offers
	+slider--offers()