include offers/slider

//-основной слайдер
mixin slider--offers(slider_name, items)
	each item, i in items
		if i===0
			input(class=slider_name + '__input' type='radio' name=slider_name id=slider_name + '--' + item.id checked)
		else
			input(class=slider_name + '__input' type='radio' name=slider_name id=slider_name + '--' + item.id)
	
	.offers-title.clearfix
		p.offers-title__text Мы предлагаем:
		div(class=slider_name + '__controls')
			each item, i in items
				label(for=slider_name +'--' + item.id)=item.name

	div(class=slider_name + '__box')
		div(class=slider_name + '__inner')
			each item in items
				div.clearfix(class=slider_name + '__item' + ' ' + 'offers-' + item.id)
					case item.id
						when 'services'
							+services
						when 'skreplenie'
							+skreplenie
						when 'products'
							+products
	

		

if pageID[0] != 0
	.offers(class = 'offers--' + pageClass)
		+slider--offers('offers-slider', [{
							id: 'services',
							name: 'Наши услуги'
							}, {
							id: 'products',
							name: 'Наша продукция'
							}, {
							id: 'skreplenie',
							name: 'Типы скрепления'
							}])
else
	.offers
		+slider--offers('offers-slider', [{
							id: 'services',
							name: 'Наши услуги'
							}, {
							id: 'products',
							name: 'Наша продукция'
							}, {
							id: 'skreplenie',
							name: 'Типы скрепления'
							}])