mixin filesPath(pageID)
	if pageID[0] != 0
		-var arrID = pageID.slice(0, pageID.length)
		while arrID.length > 0
			-filesPath = filesPath + '../'
			-arrID.length = arrID.length - 1

mixin objCreate(keys, vals)
	-var arr = []
	each key, i in keys
		each val, j in vals
			if i === j
				-obj='{'+key+': '+val+'}'
				-arr.push(obj)

mixin textRow(items)
	each item, i in items
		=item
		if i < (items.length-1)
			br

mixin actionDescText(items)
	-var arr = []
	each item in items
		-var part=item.name + ': ' + item.value
		-arr.push(part)
	+textRow(arr)

mixin picture(info, items)
	-var retina = [1, 1.5, 2, 3]
	picture
		if (items.other)
			each item in items.other
				-var res = []
				-var img = []
				each ret in retina
					-res.push(filesPath + info.adress + (item.img * ret) + '.' + info.ext + ' ' + (item.img * ret) + 'w')
				-var med = '(' + item.val + '-width: ' + item.width + 'px)'
				-var resourse = res[0] + ', ' + res[1] + ', ' + res[2] + ', ' + res[3]
				source(media=med srcset=resourse)
		
		-var item = items.main
		-var res = []
		each ret in retina
			-res.push(filesPath + info.adress + (item.img * ret) + '.' + info.ext + ' ' + (item.img * ret) + 'w')
		-var resourse = res[1] + ', ' + res[2] + ', ' + res[3]
		
		if info.class
			img(class=info.class src=res[0] width=item.width, srcset=resourse, alt=info.name)
		else
			img(src=res[0] width=item.width, srcset=resourse, alt=info.name)

//-+picture({
//-		name: name,
//-		adress: '../images/header/header_slider/header_slide1@',
//-		ext: 'png'
//-	}, {
//-		main: {
//-			width: 560,
//-			img: 560
//-		},
//-		other: [{
//-			val: 'max',
//-			width: 730,
//-			img: 288
//-		}]
//-	})