mixin form_classes(classes_arr, first_name, last_name, id)
	-classes_arr.push(first_name + '-' + last_name)
	-classes_arr.push(first_name + '-' + last_name + '--' + id)

mixin form_switcher(pageName, items)
	-var classes = []
	each item in items
		+form_classes(classes, pageName, 'inputs', item.id)
		if item.id == 'tarif'
			input.form__switcher-inputs(class=classes type='radio' name=item.id id=item.id + '-off' val=item.obj.off.val checked)
			input.form__switcher-inputs(class=classes type='radio' name=item.id id=item.id + '-on' val=item.obj.on.val)
		else
			input.form__switcher-inputs(class=classes type='radio' name=item.id id=item.id + '-off' val=item.obj.off.val)
			input.form__switcher-inputs(class=classes type='radio' name=item.id id=item.id + '-on' val=item.obj.on.val checked)

	if (items.length > 1)
		div(class=items[0].name_main + '__switcher-container')
			block switch_box
				each item in items
					if (item.id != 'cover') && (item.id != 'inset')
						-classes = []
						+form_classes(classes, pageName, 'box', item.id)
						.form__switcher-box(class=classes)
							if item.obj.name
								p.form__switcher-name(class = pageName + '-name')=item.obj.name
							block switch_labels
								-classes = []
								+form_classes(classes, pageName, 'labels', item.id)
								.form__switcher-labels.clearfix(class=classes)
									label(for=item.id + '-off')
									label(for=item.id + '-on')
					else
						block switch_labels
	else
		block switch_box

mixin form_ruler(pageName, id, items, num)
	-var classes = []
	each item, i in items
		if i===num
			-classes = []
			+form_classes(classes, pageName, 'inputs', id)
			input.form__ruler-inputs(class=classes type='radio' name=id id=id + '-' + item value=item checked)
		else
			-classes = []
			+form_classes(classes, pageName, 'inputs', id)
			input.form__ruler-inputs(class=classes type='radio' name=id id=id + '-' + item value=item)
		
	ul.form__ruler-labels.clearfix(class=pageName + '-labels' + ' ' + id + '-labels')
		each item in items
			li: label.sprite_icon-ruler-thumb(for=id + '-' + item)
				span=item
		span.form__ruler-measure(class=pageName + '-measure') г/м
			sup.square 2
		.form__ruler-types.clearfix(class=pageName + '-types')
			span.form__ruler-type.form__ruler-type--begin(class=pageName + '-type' + ' ' + pageName + '-type--offset') Офсетная
			span.form__ruler-type.form__ruler-type--end(class=pageName + '-type' + ' ' + pageName + '-type--coated') Мелованная

mixin form_counter(pageName, id, val)
	-var classes = []
	+itemBuild(classes, [
		pageName + '-btn',
		pageName + '-minus',
		pageName + '-minus--' + id
	])
	button.form__counter-btn.form__counter-minus.sprite_icon-counter-arrow--left(class=classes)
	
	-classes = []
	+form_classes(classes, pageName, 'input', id)
	.form__counter-input(class=classes)
		input(type='text' name=id value=val)
	
	-classes = []
	+itemBuild(classes, [
		pageName + '-btn',
		pageName + '-plus',
		pageName + '-plus--' + id
	])
	button.form__counter-btn.form__counter-plus.sprite_icon-counter-arrow--right(class=classes)
	
	span.form__counter-measure(class=pageName + '-measure') шт