mixin nav(name, items)
	-var spec_class_active
	-var spec_class_next
	-var class_name = name + '__item'
	nav(class=name)
		ul.clearfix(class=name + '--lvl0')
			each item, i in items
				if (i + 1) === pageID[0]
					-spec_class_active = class_name + '--active'
				else
					-spec_class_active = ''
				
				-var lvl = 1
				if item.next
					-spec_class_next = class_name + '--next'
					li(class=class_name + ' ' + spec_class_active + ' ' + spec_class_next)
						a(class=(class_name + '-name') href=item.href): span!=item.name
						+nav_inner(name, lvl, item.next)
				else
					-spec_class_next = ''
					li(class=class_name + ' ' + spec_class_active + ' ' + spec_class_next)
						a(class=(class_name + '-name') href=item.href): span!=item.name

mixin nav_inner(name, lvl, items)
	-var spec_class_next
	ul(class ='menu_inner' + ' ' + 'menu_inner--lvl' + lvl + ' ' + name + '_inner' + ' ' + name + '--lvl' + lvl)
		each item in items
			if item.next
				-spec_class_next = name + '__item--next' + ' ' + 'menu_inner__item--next'
				-lvl = lvl + 1
				li(class=name + '__item' + ' ' + 'menu_inner__item' + ' ' + name + '_inner__item' + ' ' + spec_class_next)
					a(class=(name + '__item-name' + ' ' + 'menu_inner__item-name' + ' ' + name + '_inner__item-name') href=item.href)=item.name
					+nav_inner(name, lvl, item.next)
				-lvl = lvl - 1
			else
				-spec_class_next = ''
				li(class=name + '__item' + ' ' + 'menu_inner__item' + ' ' + name + '_inner__item' + ' ' + spec_class_next)
					a(class=(name + '__item-name' + ' ' + 'menu_inner__item-name' + ' ' + name + '_inner__item-name') href=item.href)=item.name

mixin breadcrumbs(items)
	if pageID[0] != 0
		-var arrID = pageID.slice(0, pageID.length)
		-var elems = items.slice(0, items.length)
		-var arr = []
		each id in arrID
			-var item = elems[id - 1]
			-arr.push(item)
			-elems = item.next
		ul.breadcrumbs.clearfix
			li.breadcrumbs__item
				a.sprite_icon-home--blue(href='#')
			each item, i in arr
				-var lvl = 1
				if i === arr.length - 1
					if item.next
						li.breadcrumbs__item.breadcrumbs__item--next
							a(href='#')=item.name
								span ⌵
							+nav_inner('breadcrumbs', lvl, item.next)
					else
						li.breadcrumbs__item
							a(href='#')=item.name
						
				else
					li.breadcrumbs__item
						a(href='#')=item.name
							span ⌵
					
mixin right_menu(name, menu)
	-var items = menu[pageID[0] - 1]
	-var spec_class_next
	-var class_name = name + '__item'
	
	p.right-menu__title=items.name
	ul.clearfix(class=name + ' ' + name + '--lvl1' + ' ' + 'menu_inner' + ' ' + 'menu_inner--lvl1')
		if items.next
			each item, i in items.next
				-var lvl = 2
				if item.next
					-spec_class_next = class_name + '--next'
					li(class=class_name + ' ' + 'menu_inner__item' + ' ' + spec_class_next + ' ' + 'menu_inner__item--next')
						a(class=class_name + '-name' + ' ' + 'menu_inner__item-name' href=item.href): span!=item.name
						+nav_inner(name, lvl, item.next)
				else
					-spec_class_next = ''
					li(class=class_name + ' ' + 'menu_inner__item' + ' ' + spec_class_next + ' ' + 'menu_inner__item--next')
						a(class=class_name + '-name' + ' ' + 'menu_inner__item-name' href=item.href): span!=item.name

