mixin calc_circulation(name, items)
	each item in items
		-var mix_name = name + '_' + item.id
		-var count
		if item.counter
			-count = ' ' + 'calculator__counter-header'
		else
			-count = ''
		.calculator__block--inner(class=mix_name + '-block')
			.calculator__header--inner(class=mix_name + '-header' + count)
				h3.calculator__title--inner(class=mix_name + '-title')=item.name
		
			case item.id
				when 'total'
					+circulation_total(mix_name)
				when 'copies'
					+circulation_copies(mix_name)

mixin circulation_total(name)
	.calculator__item.calculator__total(class=name)
		span.calculator__total-value 312

mixin circulation_copies(name)
	.calculator__item.calculator__counter(class=name)
		+calc_counter(name, 50000)


mixin circulation(name)
	+calc_circulation(name, [{
		id: 'total',
		name: 'Общее количество полос'
	}, {
		id: 'copies',
		name: 'Тираж',
		counter: 1
	}])