include print/size
include print/orient
include print/bond
include print/pages


mixin calc_print(name, items)
	each item in items
		-var mix_name = name + '_' + item.id
		.calculator__block--inner(class=name + '_' + item.id + '-block')
			if (item.id == 'pages')
				input(class=mix_name + '-inputs--main' type='checkbox' id=mix_name + '-selector')
				
				each elem, i in item.vars
					if i===0
						input.calculator__selector-inputs(class=mix_name + '-inputs' type='radio' name=mix_name id=mix_name + '-' + elem.id value=elem.val checked)
					else
						input.calculator__selector-inputs(class=mix_name + '-inputs' type='radio' name=mix_name id=mix_name + '-' + elem.id value=elem.val)
				
			.calculator__header--inner
				h3.calculator__title--inner=item.name
				if (item.id == 'pages')
					label(class=mix_name + '-labels--main' for=mix_name + '-selector') Выбор
					ul.calculator__selector-labels(class=mix_name + '-labels')
						each elem in item.vars
							li: label(for=mix_name + '-' + elem.id)=elem.name
			
			case item.id
				when 'size'
					+size(mix_name)
				when 'orient'
					+orient(mix_name)
				when 'bond'
					+bond(mix_name)
				when 'pages'
					.calculator__item.calculator__selector(class=mix_name)
						each elem in item.vars
							+pages(mix_name, elem.id)


mixin print(name)
	+calc_print(name, [{
		id: 'size',
		name: 'Размер'
	}, {
		id: 'orient',
		name: 'Ориентация'
	}, {
		id: 'bond',
		name: 'Типы скрепления'
	}, {
		id: 'pages',
		name: 'Страницы',
		vars: [{
			id: 'pages_1',
			val: 'pages_var_1',
			name: 'pages_var_1'
		}, {
			id: 'pages_2',
			val: 'pages_var_2',
			name: 'pages_var_2'
		}, {
			id: 'pages_3',
			val: 'pages_var_3',
			name: 'pages_var_3'
		}]
	}])