mixin calc_switcher(items)
	each item in items
		input.calculator__switcher-inputs(class='calculator__switcher-inputs--' + item.id type='radio' name=item.id id=item.id + '-off' val=item.obj.off.val)
		input.calculator__switcher-inputs(class='calculator__switcher-inputs--' + item.id type='radio' name=item.id id=item.id + '-on' val=item.obj.on.val checked)

	if (items.length > 1)
		div(class=items[0].name_main + '__switcher-container')
			block switch_box
				each item in items
					if (item.id != 'cover') && (item.id != 'inset')
						.calculator__switcher-box(class='calculator__switcher-box--' + item.id)
							p.calculator__switcher-name=item.obj.name
							block switch_labels1
								.calculator__switcher-labels.clearfix(class='calculator__switcher-labels--' + item.id)
									label(for=item.id + '-off')
									label(for=item.id + '-on')
					else
						block switch_labels1
	else
		block switch_box

mixin calc_scroller(id, items)
	each item, i in items
		if i===0
			input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + id type='radio' name=id id=id + '-' + item.id value=item.val checked)
		else
			input.calculator__scroller-inputs(class='calculator__scroller-inputs--' + id type='radio' name=id id=id + '-' + item.id value=item.val)

	.calculator__scroller-labels(class=id + '-labels')
		each item in items
			label(for=id + '-' + item.id)=item.name

mixin calc_ruler(id, items, num)
	each item, i in items
		if i===num
			input.calculator__ruler-inputs(class='calculator__ruler-inputs--' + id type='radio' name=id id=id + '-' + item value=item checked)
		else
			input.calculator__ruler-inputs(class='calculator__ruler-inputs--' + id type='radio' name=id id=id + '-' + item value=item)
		
	ul.calculator__ruler-labels.clearfix(class=id + '-labels')
		each item in items
			li: label.sprite_icon-ruler-thumb(for=id + '-' + item)
				span=item
		span.calculator__ruler-measure г/м
			sup.square 2
		.calculator__ruler-types.clearfix
			span.calculator__ruler-type.calculator__ruler-type--offset Офсетная
			span.calculator__ruler-type.calculator__ruler-type--coated Мелованная

mixin calc_counter(id, val)
	button.calculator__counter-btn.calculator__counter-minus.sprite_icon-counter-arrow--left(class='calculator__counter-minus--' + id)
	
	.calculator__counter-input(class='calculator__counter-input--' + id)
		input(type='text' name=id value=val)
	
	button.calculator__counter-btn.calculator__counter-plus.sprite_icon-counter-arrow--right(class='calculator__counter-plus--' + id)
	
	span.calculator__counter-measure шт