include calc-templates

include parts/print
include parts/cover
include parts/block
include parts/inset
include parts/circulation
include parts/results

mixin calc(items)
	each item in items
		fieldset.calculator__section(class=item.id)
			if item.id != 'circulation'
				input.calculator__section-opener_input(type='checkbox' id=item.id + '-open' checked)
				label.calculator__section-opener_label(for=item.id + '-open')
					span.calculator__section-opener_label--on(class=item.id + '-open__on') Подробнее
					span.calculator__section-opener_label--off(class=item.id + '-open__off') Свернуть

			.calculator__header
				h2.calculator__title=item.name
			
				if (item.id == 'cover' || item.id == 'inset')
					.calculator__switcher(class='calculator__switcher--' + item.id)
						+calc_switcher([{
							id: item.id,
							obj: item
						}])
					
			.calculator__block.clearfix(class='calculator__block--' + item.id)
				case item.id
					when 'print'
						+print(item.id)
					when 'cover'
						+cover(item.id)
					when 'block'
						+block(item.id)
					when 'inset'
						+inset(item.id)
					when 'circulation'
						+circulation(item.id)

h1.title--main Калькулятор стоимости печати
form.form--calculator.calculator(action='#' method='post' name='caculator')
	fieldset.calculator-types
		include types
	+calc([{
		id: 'print',
		name: 'Опции печати'
	}, {
		id: 'cover',
		name: 'Обложка',
		off: {
			val: 'no-cover'
		},
		on: {
			val: 'cover'
		}
	}, {
		id: 'block',
		name: 'Блок'
	}, {
		id: 'inset',
		name: 'Вставка',
		off: {
			val: 'no-inset'
		},
		on: {
			val: 'inset'
		}
	}, {
		id: 'circulation',
		name: 'Тиражирование'
	}])