mixin calc_autorization(name, items)
	each item in items
		.calculator__block--inner(class=name + '_' + item.id + '-block')
			if item.name
				.calculator__header--inner(class=name + '_' + item.id + '-header')
					h3.calculator__title--inner(class=name + '_' + item.id + '-title')=item.name
			
			case item.id
				when 'data'
					+autorization_data(name, [{
						id: 'name',
						name: 'Имя',
						required: 1,
						text: 'Александр Папандреу'
					}, {
						id: 'email',
						name: 'E-mail',
						type: 'email',
						required: 1,
						text: 'order@web2book.ru'
					}, {
						id: 'organization',
						name: 'Компания',
						text: 'Компания'
					}, {
						name: 'Телефон',
						id: 'tel',
						data: [{
							id: 'tel_1',
							pattern: '[0-9]{3}',
							text: 963
						}, {
							id: 'tel_2',
							pattern: '[0-9]{7}',
							text: 1234093
						}]
					}, {
						id: 'captcha',
						name: 'Введите текст с картинки',
						required: 1,
						text: 'C4RPC'
					}])
				when 'send'
					+autorization_send(name, {
						text: 'После заполнения обязательных полей или авторизации результаты расчёта стоимости будут отправлены на указанный e-mail',
						sign: 'Цены действительны в течение 30 дней с момента расчёта. Последнее обновление: 11 мая 2011'
					})

mixin autorization_data(name, items)
	each item in items
		-var type = 'text'
		if item.type
			-type=item.type
		
		.form__field.autorization__field.clearfix(class='autorization__field--' + item.id)
			label.form__label(class=name + '__label' + ' ' + name + '__label--' + item.id for=name + '_' + item.id)=item.name + ':'
				if item.required
					span(class=name + '__label--required') *
				
			case item.id
				when 'tel'
					div.form__inputs.form__inputs--tel(class=name + '__inputs' + ' ' + name + '__inputs--' + item.id)
						input(type='hidden' id=name + '_' + item.id name=name + '_' + item.id)
						span +7 (
						each elem, i in item.data
							input(type=type id=name + '_' + elem.id placeholder=elem.text pattern=elem.pattern)
							if (i == 0)
								span )

				when 'captcha'
					div.form__inputs(class=name + '__inputs' + ' ' + name + '__inputs--' + item.id)
						div.clearfix(class=name + '__' + item.id)
							div(class=name + '__' + item.id + '-img')
								+picture({
									name: 'captcha',
									adress: '../images/calculator/autorization/captcha/captcha@',
									ext: 'jpg'
								}, {
									main: {
										width: 90,
										img: 90
									}
								})
							a.sprite_icon-captcha_refresh(class=name + '__' + item.id + '-refresh' href='#') Обновить
							
						input(class=name + '__' + item.id + '-input' type=type id=name + '_' + item.id name=name + '_' + item.id placeholder=item.text required)

				default
					div.form__inputs(class=name + '__inputs' + ' ' + name + '__inputs--' + item.id)
						if item.required
							input(type=type id=name + '_' + item.id name=name + '_' + item.id placeholder=item.text required)
						else
							input(type=type id=name + '_' + item.id name=name + '_' + item.id placeholder=item.text)

						if item.id == 'email'
							span.sprite_icon-form_attention(class=name + '__label--email_check') e-mail не существует
		
	p(class=name + '__hint')
		span(class=name + '__label--required') *
		| — Обязательные поля


mixin autorization_send(name, item)
	p(class=name + '__text')=item.text
	button.form__btn(class=name + '__btn' type='submit') Отправить рассчет
	p(class=name + '__sign')=item.sign




mixin autorization(name)
	+calc_autorization(name, [{
		id: 'data',
		name: 'Персональные данные'
	}, {
		id: 'send'
	}])